@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {

  /* Colours */

  --clr-primary-violet: hsl(257, 40%, 49%);
  --clr-primary-magenta: hsl(300, 69%, 71%);

  /* Fonts */

  --ff-heading: 'Poppins', sans-serif;
  --ff-main: 'Open Sans', sans-serif;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(images/bg-mobile.svg), var(--clr-primary-violet);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  color: white;
  display: grid;
  font-family: var(--ff-main);
  min-height: 100vh;
  padding: 2rem 2.3rem;
}

/* HEADER SECTION */

.logo {
  width: 136px;
}

/* MOCKUP IMAGE */

.mockup-image-holder {
  margin-block-start: 3.3rem;
}

.mockup-image {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

/* INFO CARD */

.info-card {
  padding-block-start: 3.75rem;
  text-align: center;
}

.info-card__title {
  font-family: var(--ff-heading);
  font-size: 1.55rem;
  padding-block-end: .8rem;
}

.info-card__body {
  line-height: 1.6;
  font-size: 1rem;
  padding-block-end: 1.5rem;
}

.info-card__button,
.info-card__button:active {
  all: unset;
  background: white;
  color: var(--clr-primary-violet);
  border-radius: 40px;
  box-shadow: 0 1px 8px hsl(257, 42%, 29%);
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  padding: .75rem 5.2rem;
  text-decoration: none;
  transition: all .2s ease;
}

.info-card__button:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 4px dotted var(--clr-primary-magenta);
}

.info-card__button:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  outline: none;
}

.info-card__button:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 4px dotted var(--clr-primary-magenta);
}

.info-card__button:hover {
  background: var(--clr-primary-magenta);
  color: white;
}

/* SOCIAL MEDIA SECTION */

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
  padding-block-start: 4.5rem;
}

.icon {
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: .85rem;
  padding: .5rem;
  transition: all .2s ease;
}

.social-media__link:hover {
  border: 1px solid var(--clr-primary-magenta);
  color: var(--clr-primary-magenta);
}
.social-media__link:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted var(--clr-primary-magenta);
}

.social-media__link:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  outline: none;
}

.social-media__link:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted var(--clr-primary-magenta);
}

.fa-facebook-f {
  padding: .5rem .65rem;
} 

/* MEDIA QUERIES */

@media (min-width: 500px) {

  body {
    background-size: cover;
  }

  /* LOGO */

  .logo {
    width: 160px;
  }

  /* INFO CARD */

  .info-card {
    max-width: 650px;
    margin: 0 auto;
  }

  .info-card__title {
    font-size: 1.9rem;
  }

  .info-card__body {
    padding-block-end: 3rem;
  }

  .info-card__button,
  .info-card__button:active {
    font-size: 1.1rem;
    padding: 1rem 4.3rem;
    box-shadow: 0 4px 15px hsl(257, 42%, 29%);
    margin-block-end: 2rem;
  }

}

@media (min-width: 1100px) {

  body {
    background: url(images/bg-desktop.svg), var(--clr-primary-violet);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 3.2rem 4.5rem;
  }

  .container {
    display: flex;
    gap: 3rem;
    max-width: 1400px;
    margin: 0 auto;
  }

  /* LOGO */

  .logo {
    width: 230px;
  }

  /* MOCK UP IMAGE */

  .mockup-image-holder {
    width: 100%;
  }

  /* INFO CARD */

  .info-card {
    width: 70%;
    text-align: left;
  }

  .info-card__title {
    font-size: 2.4rem;
  }

  .info-card__body {
    font-size: 1.1rem;
    width: 88%;
  }

  /* SOCIAL MEDIA SECTION */

  .social-media {
    position: absolute;
    bottom: 3rem;
    right: 5rem;
  }

  .icon {
    font-size: 1.1rem;
    padding: 10px;
    transition: all .2s ease;
  }

  .icon:hover {
    color: var(--clr-primary-magenta);
    border: 1px solid var(--clr-primary-magenta);
  }

  .fa-facebook-f {
    padding: 10px 13px;
  } 

  .fa-instagram {
    padding: 10px 11px;
  }

}

@media (min-width: 1350px) {
  
  body {
    background-size: contain;
  }
}