body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    font-family: 'Fraunces', serif;
    background-color: hsl(30, 38%, 92%);
}
.card{
    border-radius: 15px;
    background-color: white;
    margin: 0 1px;
    display: flex;
}
.card-right{
    padding: 20px 20px 20px 20px;
    height: fit-content;
    width: 27vw;
}
.card-content{
    padding: 20px 35px 20px 20px;
}
.card-left{
    width: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px;
    background-image: url("./images/image-product-desktop.jpg");
}
.price-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.price-div h1{
    color: hsl(158, 36%, 37%);
}
.card-content h1:nth-child(2){
    font-size: 2.6rem;
}
.card-content p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    color: gray;
    letter-spacing: 7px;
    font-size: 12px;
}
.card-content p:nth-child(3){
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    color: gray;
}
.price-div strike{
    color: gray;
    font-family: 'Montserrat', sans-serif;
}
button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
}
button:hover{
    transition-duration: 100ms;
    background-color: hsl(158, 36%, 25%);
}
@media (max-width:800px){
    .card{
        flex-direction: column;
    }
    .card-right{
        width: 50vw;
        padding: 0;
    }
    .card-content h1:nth-child(2){
        margin-top: 0;
        margin-bottom: 15px;
    }
    .card-content p:nth-child(3){
        margin:0;
    }
    .card-left{
        background-image: url("./images/image-product-mobile.jpg");
        height:260px;
        background-position: center;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }
    .card{
        display: block;
    }
}